.footer{
    height: 10%;
    background-color: #832293;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;

    &--social{
        display: flex;
        gap: .5em;

        .fa-brands{
            font-size: 1.3rem;
        }

        .fa-facebook{
            color: blue;
            background-color: white;
            border-radius: 100%;
        }

        .fa-github{
            color: black;
            background-color: white;
            border-radius: 100%;
        }
    }
}